.App {
  text-align: center;
}
body {
  background-color: dimgrey;
}
div {
  width: 80%;
}
#root,
.App {
  width: 100%;
}
form {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  background: gainsboro;
  align-items: center;
  border-radius: 10px;
}
